.mobile-menu {
    background-color: transparent;
    border: none;

    & > span {
        background-color: black;
        width: 35px;
        height: 2px;
        display: block;
        margin-bottom: 9px;
    }
}